/* =============
    Demo
============= */
#demo-container{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: " . demo .";
    >div(
     grid-area: demo;
     
     ul{
         display: flex;
     }
    )
}
.box{
    height: 200px;
    width: 200px;
    margin-bottom: 300px;
}

.red-box{
    background-color: $red;
}

.blue-box{
    background-color: $blue;
}
.orange-box{
    background-color: $orange;
}